@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *::after, *::before{
        font-family: 'Poppins', sans-serif;
        margin: 0;
        padding: 0;
        line-height: 1.2;
        font-size: 16px;
}

:root {
        --primary: #9AB3FF;
        --secondary: #fff;
        --bg: #181818;
}

.bg-img{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%) scaleX(1.3);
        width: 100%;
        height: 100%;
        z-index: -1;

}

img{
        max-height: 100%;
}

body{
        background: var(--bg);
        height: 100vh;
        overflow: hidden;
}

header{
        width: 70%; 
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        height: 5vh;
        align-items: center;
}

header .logo{
        font-size: 1rem;
        font-weight: 700;
        color: var(--secondary);
}

header ul {
        display: flex;
}
a{
        text-decoration: none;
        color: inherit;
}
header ul .nav-link{
        color: var(--secondary);
        list-style: none;
        margin-left: 1em;
        font-weight: 700;
        font-size: 0.875rem;
        transition: color .1s ease-out;
}

header ul .nav-link:hover{
        color: var(--primary);
}

main{
        width: 100%;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
      
}

main .inner{
        display: flex;
        flex-direction: column;
        height: max-content;
        align-items: center;
        text-align: center;
        width: 100%;
        background: rgba(17, 17, 17, 0.6);
        padding: 5em;
}

main .inner .sub-headline{
        font-size: 1rem;
        color: var(--secondary);
}

main .inner .paragraph{
        font-weight: 400;
        color: var(--secondary);
        font-size: 0.875rem;
}

main .inner .headline{
        color: var(--primary);
        font-size: 6rem;
}

main .inner .btn-cta img{
        width: 20px;
        margin-right: .5em;
}

main .inner .btn-cta{
        padding: 1em;
        font-size: 1.125rem;
        font-weight: 700;
        display: flex;
        align-items: center;
        width: 20em;
        border-radius: 3px;
        justify-content: center;
        transition: transform 0.1s ease-out;
}


main .inner .btn-cta.fill{
        background-color: var(--secondary);
        border: 2px solid var(--secondary);
        color: var(--bg);
        margin-bottom: 1em;
        margin-top: 1em;
}


main .inner .btn-cta.outline{
        border: 2px solid var(--secondary);
        color: var(--secondary);
}

main .inner .btn-cta:hover{
        transform: scale(1.1);
}

@media screen and (max-width: 500px){
        *{
                font-size: 13px;
        }
        header{
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: .5em;
        }
        main{
                height: 80%;
        }
        header ul{
                margin-top: .5em;
        }
        main .inner .headline{
                font-size: 4rem;
        }
        .bg-img{
                display: none;
        }
}

@media screen and (max-width: 330px){
        *{
                font-size: 10px;
        }
}